<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kai Tod</key>
	<array>
		<string>50-70</string>
		<string>A la Carte</string>
		<string>gate 2</string>
		<string>10:00 - 18:00</string>
		<string>100.56503</string>
		<string>13.74273</string>
		<string>Kai Tod</string>
	</array>
	<key>Eat Am Are</key>
	<array>
		<string>70-100</string>
		<string>A la Carte</string>
		<string>gate 5</string>
		<string>9:00 - 21:00</string>
		<string>100.56266</string>
		<string>13.74713</string>
		<string>Eat Am Are</string>
	</array>
	<key>Ru noodles</key>
	<array>
		<string>50-100</string>
		<string>A la Carte</string>
		<string>in uni</string>
		<string>08:00 - 16:00</string>
		<string>100.56499</string>
		<string>13.74713</string>
		<string>Ru noodles</string>
	</array>
	<key>Canteen 1</key>
	<array>
		<string>50-70</string>
		<string>A la Carte</string>
		<string>in uni</string>
		<string>07:00 - 15:00</string>
		<string>100.56611</string>
		<string>13.74389</string>
		<string>Canteen 1</string>
	</array>
	<key>Canteen 2</key>
	<array>
		<string>50-70</string>
		<string>A la Carte</string>
		<string>in uni</string>
		<string>07:00 - 15:00</string>
		<string>100.56623</string>
		<string>13.7444</string>
		<string>Canteen 2</string>
	</array>
	<key>Jad Jan</key>
	<array>
		<string>50-100</string>
		<string>A la Carte</string>
		<string>saen saep side</string>
		<string>08:00 - 20:00</string>
		<string>100.56616</string>
		<string>13.74765</string>
		<string>Jad Jan</string>
	</array>
	<key>Rom Sai (Kuay Jab)</key>
	<array>
		<string>50-100</string>
		<string>A la Carte</string>
		<string>saen saep side</string>
		<string>07:00 - 15:00</string>
		<string>100.56615</string>
		<string>13.74782</string>
		<string>Rom Sai (Kuay Jab)</string>
	</array>
	<key>Gu Gu Chicken</key>
	<array>
		<string>100+</string>
		<string>A la Carte</string>
		<string>gate 5</string>
		<string>09:00 - 22:00</string>
		<string>100.56286</string>
		<string>13.74616</string>
		<string>Gu Gu Chicken</string>
	</array>
	<key>Ruam Sab Marketplace</key>
	<array>
		<string>50-70</string>
		<string>A la Carte/Fast food/Beverage</string>
		<string>gate 5</string>
		<string>07:00 - 21:00</string>
		<string>100.56188</string>
		<string>13.74471</string>
		<string>Ruam Sab Marketplace</string>
	</array>
	<key>7-11(Union Ed. building)</key>
	<array>
		<string>&lt;50</string>
		<string>Snacks</string>
		<string>in uni</string>
		<string>24hrs</string>
		<string>100.56483</string>
		<string>13.74608</string>
		<string>7-11(Union Ed. building)</string>
	</array>
	<key>7-11(Canteen)</key>
	<array>
		<string>&lt;50</string>
		<string>Snacks</string>
		<string>in uni</string>
		<string>24hrs</string>
		<string>100.56595</string>
		<string>13.74377</string>
		<string>7-11(Canteen)</string>
	</array>
	<key>7-11(Nearby Ideo Mobi)</key>
	<array>
		<string>&lt;50</string>
		<string>Snacks</string>
		<string>gate 2</string>
		<string>24hrs</string>
		<string>100.56604</string>
		<string>13.74845</string>
		<string>7-11(Nearby Ideo Mobi)</string>
	</array>
	<key>Bake Room</key>
	<array>
		<string>&lt;50</string>
		<string>Snacks/Beverage/Dessert</string>
		<string>in uni</string>
		<string>7:00-18:00</string>
		<string>100.56503</string>
		<string>13.74613</string>
		<string>Bake Room</string>
	</array>
	<key>Freddie Rice Curry</key>
	<array>
		<string>&gt;100</string>
		<string>A la Carte</string>
		<string>gate 5</string>
		<string>10:00-20:00</string>
		<string>100.56289</string>
		<string>13.74598</string>
		<string>Freddie Rice Curry</string>
	</array>
	<key>Khiang TamSang</key>
	<array>
		<string>50-70</string>
		<string>A la Carte</string>
		<string>gate 2</string>
		<string>09:30-20:30</string>
		<string>100.56622</string>
		<string>13.748448</string>
		<string>Khiang TamSang</string>
	</array>
	<key>Pla Khai</key>
	<array>
		<string>&lt;50</string>
		<string>A la Carte</string>
		<string>gate 5</string>
		<string>10:00-21:00</string>
		<string>100.56381</string>
		<string>13.74591</string>
		<string>Pla Khai</string>
	</array>
	<key>Chao kuay</key>
	<array>
		<string>&lt;50</string>
		<string>A la Carte</string>
		<string>gate 2</string>
		<string>10:00-21:00</string>
		<string>100.56488</string>
		<string>13.74300</string>
		<string>Chao kuay</string>
	</array>
	<key>Mama Sum</key>
	<array>
		<string>&lt;50</string>
		<string>A la Carte</string>
		<string>gate 5</string>
		<string>07:00-17:00</string>
		<string>100.56442</string>
		<string>13.74603</string>
		<string>Mama Sum</string>
	</array>
	<key>Luk chin</key>
	<array>
		<string>&lt;50</string>
		<string>Snacks</string>
		<string>saen saep side</string>
		<string>08:00-17:30</string>
		<string>100.56620</string>
		<string>13.74837</string>
		<string>Luk chin</string>
	</array>
	<key>Luk chin tod</key>
	<array>
		<string>&lt;50</string>
		<string>Snacks</string>
		<string>gate 5</string>
		<string>07:30-18:30</string>
		<string>100.56388</string>
		<string>13.74594</string>
		<string>Luk chin tod</string>
	</array>
	<key>Som tam</key>
	<array>
		<string>50-70</string>
		<string>A la Carte</string>
		<string>gate 5</string>
		<string>08:00-17:00</string>
		<string>100.56383</string>
		<string>13.74595</string>
		<string>Som tam</string>
	</array>
	<key>Suki roll</key>
	<array>
		<string>&lt;50</string>
		<string>A la Carte</string>
		<string>saen saep side</string>
		<string>08:00-17:00</string>
		<string>100.56609</string>
		<string>13.74770</string>
		<string>Suki roll</string>
	</array>
</dict>
</plist>
