<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>price</key>
	<array>
		<string>select price range</string>
		<string>all</string>
		<string>&lt;50</string>
		<string>50-70</string>
		<string>70-100</string>
		<string>&gt;100</string>
	</array>
	<key>cate</key>
	<array>
		<string>select categories</string>
		<string>all</string>
		<string>A la Carte</string>
		<string>Beverage</string>
		<string>Fast food</string>
		<string>Snacks</string>
		<string>Dessert</string>
	</array>
</dict>
</plist>
